:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

/* Hide underline when not focused */
.no-underline-when-blur .MuiInput-underline:before {
  border-bottom: none;
}

/* Show underline when focused */
.no-underline-when-blur .MuiInput-underline:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

/* Optional: Show underline on hover */
.no-underline-when-blur .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.div-hidden{
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  /* display: none; Chrome, Safari, Opera */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  font-size: 1.6em;
  line-height: 1.5;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  /* transition: border-color 0.25s; */
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: black;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: black;
  }
}

@import "tailwindcss";